html, body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    background: #1779ba;
    height: 40px;
    width: 100%;
    color: white; 
    text-align: center; 
}


#github {
    color: white; 
    padding: 10px; 
    font-size: 20px;
}

#logo{
    color: white; 
    padding: 15px;
    font-size: 20px;
}

