<h1>Search Route</h1>


<div>
<form id="search" method="POST" action="/">
<div class="form-group">
    <label for="inputStart">Start</label>
    <input id="inputStart" class="form-control" type="text" placeholder="road, city, state" />

    <label for="inputEnd">Finish</label>
    <input id="inputEnd" class="form-control" type="text" placeholder="road, city, state" />

    <button class="btn btn-info" type="submit" id="searchBtn"><i class="fa fa-search"></i>Search</button>
</div>
</form>
</div>